body {
margin: 0;
padding-top: 1px;
text-align: center;
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}
.header
{
	color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.subnautica
{
color: white;font-family: sans-serif;font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}



.subnauticabz
{
	color: white;font-family: sans-serif;font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}



.minecraft
{
	color: white;font-family: sans-serif;font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3{
    display: inline;
}
.contact_1 a{
    text-shadow: none;
}
#videos iframe{
    width: 80%;
}
.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;

}
input{
    background: grey;
}






